extends layout


block content
  div#page-wrapper
    div.row
      div.col-sm-12
        h1.page-header Get more with git moar

    div.row
      div.col-md-7
        
        ul.list-group#cool-cats
            - for(var i = 0; i < 15; i++){
            li.list-group-item Name<i class="pull-right fa fa-star"></i>
            - }
      div.col-md-5




