extends layout

block content
  div#page-wrapper
    div.row
      div.col-sm-12
        h1.page-header Dashboard
    div.row
      div.col-md-6
        p Select  a state to get details on its representatives
      div.col-md-6
        hey
