    <%- include header.ejs -%>

            <% if (token == null) { %>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sign in and discover more!</h1>
                    <center><a style="font-size:1000%" href="/login"><i class="fa fa-github"></i></a></center>
                </div>
            </div>
            <% } else { %>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12 break-word">
                    <h1 class="page-header">Get more with git moar</h1>
                   
                    <hr>
                    <p style="word-wrap: break-word;">
                        Git Moar is a Github recommendation engine that helps you get more of what you want.  
                    </p>

                         <div class="col-md-6 break-word">
                            <h3>Cool Cats</h3>
                         </div>

                         <div class="col-md-6 break-word">
                            <h3>Rad Repos</h3>
                         </div>

                   </div>
            </div>
            <% } %>
        <%- include footer.ejs -%>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.4/trianglify.min.js"></script>
<script>

    $(document).ready(function(){
        var t = new Trianglify({noiseIntensity: 0, strokeOpacity: Math.random(), fillOpacity: Math.random()});
        var pattern = t.generate(window.innerWidth, window.innerHeight);
        $('body').css({"background": pattern.dataUrl + " no-repeat center center fixed", "background-size": "cover"} );
    })

</script>
