    <%- include header.ejs -%>
            <% if (token == null) { %>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sign in and discover more!</h1>
                    <center><a style="font-size:1000%" href="/login"><i class="fa fa-github"></i></a></center>
                </div>
            </div>
            <% } else { %>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12 break-word">
                    <h1 class="page-header">Get more with git moar</h1>
                    <%= token %>
                    <hr>
                    <p style="word-wrap: break-word;">
                    <%= JSON.stringify(github_data["followers"]) %>
                    </p>

                   </div>
            </div>
            <% } %>
        <%- include footer.ejs -%>
