extends layout

block content
  div#page-wrapper
    div.row
      div.col-sm-12
        h1.page-header #{title}
      .col-sm-6
        table.table
          thead
            tr: th #{title}
              tbody
              - for(var i=0; i<members.rows.length;i++){
                tr
                  td
                    a(href='/rep_profile/' + members.rows[i].mem_id) #{members.rows[i].f_name} #{members.rows[i].l_name} 
            - }