extends layout
block content
  #page-wrapper
    .row
      .col-sm-12
        h1.page-header Trivia!
    p Please select a trivia query
    ul
      li
        a(href="/trivia/1") Youngest Congressmen
      li
        a(href="/trivia/2") Oldest Congressmen
      li
        a(href="/trivia/3") List of Congressmen under 40
      li
        a(href="/trivia/4") Congressmen without children
      li
        a(href="/trivia/5") Religion Disbursement
      li
        a(href="/trivia/6") Political Party Spread
      li
        a(href="/trivia/7") Number of House representatives per session
      li
        a(href="/trivia/8") Senators per session
      li
        a(href="/trivia/9") Total funding from individuals
      li
        a(href="/trivia/10") Top Ten Donors
      li
        a(href="/trivia/11") Number of Congressmen in each Committee
      li
        a(href="/trivia/12") Last four years of contributions by state
      li
        a(href="/trivia/13") Percentage on money spent of losers
  
      div.container(style="margin-top:50px;")
        table.table.table-hover.table-responsive
          thead
            tr
            -for (prop in trivia.rows[0]) {
              -if (!trivia.rows[0].hasOwnProperty(prop)) {
                //The current property is not a direct property of p
                -continue;
              -}
              th #{prop}
            -}
          tbody
          -for(var i=0; i<trivia.rows.length;i++){
            tr
            -for (prop in trivia.rows[i]) {
              -if (!trivia.rows[i].hasOwnProperty(prop)) {
                //The current property is not a direct property of p
                -continue;
              -}
              td #{trivia.rows[i][prop]}
            -}
          -}
