body {
	font-family: Helvetica,Arial,sans-serif;
	height: 100%;	
}

a {
	color:#00B7FF
}

.navbar-brand{
	font-size: 200%;
}

.head-shot{

	/*width:50px;*/
}

#page-wrapper {

	opacity: .75;
}
.lg-head-shot{
	width: 100px;
}

.fa-star{
	color: #FADE17;
}

.retro {
	color: #d7ceb2;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	font: 80px 'BazarMedium';
	letter-spacing: 10px;
}