body {
	font-family: Helvetica,Arial,sans-serif;
	height: 100%;	
}

a {
	color:#00B7FF
}

.navbar-brand{
	font-size: 200%;
}

.head-shot{

	width:50px;
}

#page-wrapper {
	padding: 15px;
}
.lg-head-shot{
	width: 100px;
}

.xlg-head-shot{
	width: 200px;
}

.corner
{
	top:0;
	right:0;
	position: absolute;
	padding: 10px;
}

.fa-star{
	color: #FADE17;
}

.retro {
	color: #d7ceb2;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	font: 80px 'BazarMedium';
	letter-spacing: 10px;
}

.sidebar-collapse{
	border-right: 1px solid #eee;
}
.fancy{
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
        }
.headline{
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
        font-size: 1.75em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;
}

.margin-top{
	margin-top: 15px;
}